

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


body {
    font-family: 'Playfair Display', serif;
    background-color:white;
    color:rgb(149, 0, 0);

}

html{
    scroll-behavior: smooth;
}


section { 
     margin-top: 20px;
     margin-bottom: 40px;
}

h2,h3{
    color:green;
    font-weight: bolder;
    text-align: center;

}
h1 {
    font: size 70px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}

.block{
    color: black;
}

#leave_message input {
   color: black;
   margin: 15px;
   padding: 15px;
   border: 0px solid;
   front-size: 18px;
   border: raduis 6px;
   background-color:rgba(246, 246, 101, 0.529);
   
}

  
input[type="submit"] {
    padding: 14px 60px;
    background-color: green;
    border: none;
    font-size: 18px;

}
form .button{
    padding: 14px 30px;
    front: size 18px;
    margin-top: 10px;
    cursor: pointer;
}

#messageList li {
    display: block;
    padding: 10px;
    margin: 10px;
    background-color:whitesmoke;
}
button:hover { /* CSS Pseudo classes to change the button style on hover, active and visited state */
    background-color:rgb(40, 37, 41);
    cursor: pointer;
}
#name, #email, #message {
    margin-top: 5px;
    margin-bottom: 5px;

}


footer {
    padding: 5px 0;
    background-color:rgb(242, 249, 26);
    text-align: center;
    margin-top: 10px;
}


@media only screen and (max-width: 600px) {
    /* CSS styles for screens smaller than 600px */
}
/*### Task List:

For this assignment, you will be transforming your webpage with a more robust grid layout.

- [ ] Add a navigational header to your webpage
  - [ ] The navigation menu should include a link to each of your sections (i.e. "About", "Experience", etc.)
  - [ ] (Optional) Make the header sticky/fixed on the page
- [ ] Change the layout of your "Experience" section using rows and columns so items are displayed in a grid rather than a list
  - [ ] Hint: use either Flexbox or CSS Grid
- [ ] Update the "Leave a Message" form to use Flexbox or CSS Grid
- [ ] Use Media Queries to make sure the webpage is responsive for all device sizes (mobile, tablet, desktop, etc.)*/

#websiteHeader {
    
    top: 0;
}
.headcontainer{
    padding: 10px 10%;
    position:sticky;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap:wrap;
}
   .logo{
    width: 200px;
    margin-right: auto;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 15px 20px; 
}
nav ul li a {
    color: black;
    text-decoration: none ;
    font-size:18px;
 }



  nav ul li a:hover {
    color:yellowgreen !important;
    background-color:yellow!important;
}

.experience-container{
    border: 4px solid black;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;

}

.experience-item {
    border: 4px solid blueviolet;
    width: 30%;
    margin: 10px;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.form-item {
    width: 100%;
    margin-bottom: 10px;
}





.Intro{
    margin-left: 10%;
    margin-top: 5%;
}

.Intro h1{
 font-size: 50;
 color: black;
 margin-bottom: 20px;
}
span{
    color:orange;
}
.Intro{
    color: black;
    line-height: 25px;
}

.Intro a{
    background:orange;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 25px 0;
    border-radius: 5px;
    margin-bottom: 50px; 
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.images {
    width: 580%; /* increased width to make the images bigger */
    height: 10%; /* decreased height to fit the images on the screen */
    position:relative;
    bottom: -90px; /* increased bottom value to move the images up */
    right: -350px; /* decreased right value to move the images to the center right of the page */
  }
  
.images img{
    height:350px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .theflower{
    bottom: 40px;
}

.images:hover .myface{
    left: 45%;
 }

 #aboutme{
    padding: 100px 0;
    color: black;
 }
 .row {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
 }
 .about-col-1{ 
    flex-basis:35%;
}

 .about-col-1 img{
    width: 100%;
    border-radius: 15px;
 }

 .about-col-2{
    flex-basis: 60%;
    margin-top: -50px; /* adjust the value */
}
 .subh1{
 font-size:50px;
 font-weight:600;
}
.text{
    margin-top: -45px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
  }
  
  .tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  
  .tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -8;
    transition: 0.5s;
  }
  
  .tab-links.active-link::after {
    width: 50%;
  }
  
  .tab-contents#skills {
    font-color: black;
    font-size: 16px;
  }
  
  .tab-contents ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .tab-contents {
    display: none;
  }
  
  .tab-contents.active-tab {
    display: block;
  }
  .tab-contents#skills ul {
    margin-top: -45px;
    
  }
  
  .tab-contents#experience ul {
    margin-top: -45px;
  }
  
  .tab-contents#education ul {
    margin-top: -45px;
  }
  

  .connectme {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .connectme li {
    margin: 0 10px;
  }
  .connectme a {
    display: inline-block;
  }


/* Styles for mobile devices */
@media (max-width: 600px) {
    .experience-item {
        width: 100%;
    }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .experience-item {
        width: 50%;
    }
}

/* Styles for desktop devices */
@media (min-width: 900px) {
    .experience-item {
        width: 30%;
    }
}